:local(.index-page) {
    height: 100vh;
    background-color: #000;
    :local(.sample) {
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        width: 1280px;
        height: 720px;
        pointer-events: none;
        > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            animation: blink 4s linear infinite;
            animation-direction: alternate;
            &:last-child { animation-delay: 3s; }
        }
    }
}

@keyframes blink {
    0%, 66% { opacity: 0; }
    80%, 100% { opacity: 1; }
}
